<html>
  <title>PPST</title>
  <head>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Nunito:900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  </head>
  
  <body>
    
    <div class="row">
      
      <div class="col col-xl-3 col-lg-2 col-md-3 col-sm-3 col-xs-12" style="background-color:black;
                                                                            height:100%;
                                                                            text-align:center;
                                                                            font-family: 'Cabin', sans-serif;
                                                                            position:fixed; 
                                                                            border-right:solid 1px #ccc
                                                                            ">
        <div class="col col-xl-12 col-lg-12 col-md-3 col-sm-3 col-xs-12" style=";background-color:#286090;width:107%">
          <h2><strong><a style="color: white" href="/homePage"><strong>PPTS</strong></a></h2>
          <p style="font-weight: lighter;font-size: 14px;color: #ccc">पालघर पोलीस  ट्रान्सफर सिस्टिम </p>
        </div>


        <img src="<%=currentUser.profileImage%>" alt="" 
             style="height:100px;width:100px;border-radius:;border:solid 10px black"><br>


      <%if(currentUser.profileImage == "https://i.imgur.com/JijLK0p.png"){ %>
   <a href="/imageUpload" type="button" class="btn btn-primary" style="opacity:0.9;
                                                   margin-top:0px;
                                                   background-color:rgba(40,96,144,0.7);
                                                  
                                                   ">Add Profile Image</a>
     <%}%> 
     
        
        <ul class="list-group" style="text-align:center;margin-left:18px;margin-top:20px">
  <li class="list-group-item list-group-item-info" style="width:100%"><strong style="float:left">*Name / नाॉव : </strong><br>
    <span style="font-size:16px;color:black"><%=currentUser.fullName%></span></li>
   <li class="list-group-item list-group-item-info"><strong style="float:left">*Phone No. / फोन : </strong><br>
    <span style="font-size:17px;color:black"><%=currentUser.username%></span></li>
   
   <li class="list-group-item list-group-item-info"><strong style="float:left">*Branch / शाखा : </strong><br>
    <span style="font-size:17px;color:black"><%=currentUser.currentBranch.BranchName%></span></li>
    <li class="list-group-item list-group-item-info"><strong style="float:left">*Post / पोस्ट : </strong><br>
    <span style="font-size:17px;color:black"><%=currentUser.post%></span></li>
          <li class="list-group-item list-group">
      <a type="button" class="btn btn-success">View complete profile <i class="fa fa-arrow-right"></i></a>
</li>  

</ul>
        
        <div style="">
          <div class="btn-group-vertical" >



<% var currentDate = new Date()%>
 <%if(currentUser.nextApplicableDate.getTime() < currentDate.getTime() || currentUser.nextApplicableDate.getTime() == currentDate.getTime()){%>
 <a style="border-radius: 0px" href='/apply' id="Apply" type="button" class="btn btn-primary btn-lg">Apply <i class="fa fa-arrow-right"></i></a>
<%}%>





<a style="border-radius: 0px" href="/status" type="button" class="btn btn-primary btn-lg">Status <i class="fa fa-user-cog"></i></a>
<a style="border-radius: 0px" href="/branchMap" type="button" class="btn btn-primary btn-lg">Info <i class="fa fa-sign-out"></i></a>
<a style="border-radius: 0px" href="/logout" type="button" class="btn btn-danger btn-lg">Logout <i class="fa fa-sign-out"></i></a>
</div>
        </div>
        
   <!-- <script>
     $('#Apply').click(function(){
   window.location.href='/apply';
})
        </script> -->     
        
      </div>

