<html>
  <title>PPST</title>
  <head>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Nunito:900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  </head>
  
  <body>
    
    <div class="row">
      
      <div class="col col-xl-3 col-lg-2 col-md-3 col-sm-3 col-xs-12" style="background-color:#2d2d2d;
                                                                            height:100%;
                                                                            text-align:center;
                                                                            font-family: 'Cabin', sans-serif;
                                                                            position:fixed; 
                                                                            border-right:solid 1px #ccc
                                                                            ">
        
   
          <div class="col col-xl-12 col-lg-12 col-md-3 col-sm-3 col-xs-12" style=";background-color:#286090;width:107%">
          <h2 style="color: white"><strong>PPTS</strong></h2>
          <p style="font-weight: lighter;font-size: 14px;color: #ccc">पालघर पोलीस  ट्रान्सफर सिस्टिम </p>
        </div>


        <img src="https://en.indietrainers.com/media/images/empty-profile.png" alt="" 
             style="height:100px;width:100px;border-radius:;border:solid 10px #2d2d2d"><br>
        
   <a type="button" class="btn btn-primary" style="opacity:0.9;
                                                   margin-top:0px;
                                                   background-color:rgba(40,96,144,0.7);
                                                  
                                                   ">Add Profile Image</a>
     
        
        <ul class="list-group" style="text-align:center;margin-left:18px;margin-top:20px">
  <li class="list-group-item list-group-item-info" style="width:100%"><strong style="float:left">*Name / नाॉव : </strong><br>
    <span style="font-size:16px;color:black"><%=currentUser.username%></span></li>
   <li class="list-group-item list-group-item-info"><strong style="float:left">*Phone No. / फोन : </strong><br>
    <span style="font-size:17px;color:black">8097448698</span></li>
   
   <li class="list-group-item list-group-item-info"><strong style="float:left">*Branch / शाखा : </strong><br>
    <span style="font-size:17px;color:black">Bhayander</span></li>
          <li class="list-group-item list-group">
      <a type="button" class="btn btn-success">View complete profile <i class="fa fa-arrow-right"></i></a>
</li>  

</ul>
        
        <div style="">
          <div class="btn-group-vertical" >
  <button type="button" class="btn btn-primary">Apply <i class="fa fa-arrow-right"></i></button>
<button type="button" class="btn btn-primary">Status <i class="fa fa-user-cog"></i></button>
<button type="button" class="btn btn-primary">Notifications <i class="fa fa-bell"></i></button>
<button type="button" class="btn btn-danger">Logout <i class="fa fa-sign-out"></i></button>
</div>
        </div>
        
      </div>
      
        <div class="col col-xl-9 col-lg-10 col-md-9 col-sm-9 col-xs-12" style="background-color:;
                                                                            height:1200px;
                                                                            float:right;
                                                                            font-family: 'Cabin', sans-serif;
                                                                           ">
          <h1><strong>Apply for Transfer</strong></h1>
          
          <p>Select the staion :</p>
   
          <div class="col col-xl-9 col-lg-6 col-md-9 col-sm-9 col-xs-12">
            
            <form action="/apply/<%=currentUser._id%>" method="POST">
  
     
     <div class="col col-xl-6 col-lg-6 col-md-9 col-sm-9 col-xs-12">          
              
  <div class="form-group">
    <label for="preference1">Preference 1</label>
    <select class="form-control" id="preference1" name="preference1">
      <option value=""></option>
      <%branches.forEach(function(branch){%>
      <option value ="<%=branch._id%>"><%=branch.BranchName%></option>
     <%})%>
    </select>
  </div>
   
   <div class="form-group">
    <label for="preference2">Preference 2</label>
    <select class="form-control" id="preference2" name="preference2">
      <option value=""></option>
      <%branches.forEach(function(branch){%>
      <option value ="<%=branch._id%>"><%=branch.BranchName%></option>
     <%})%>
    </select>
  </div>  
              
              
     <div class="form-group">
    <label for="preference3">Preference 3</label>
    <select class="form-control" id="preference3" name="preference3">
      <option value=""></option>
      <%branches.forEach(function(branch){%>
      <option value ="<%=branch._id%>"><%=branch.BranchName%></option>
     <%})%>
    </select>
  </div>             
              
  
    <div class="form-group">
    <label for="preference4">Preference 4</label>
    <select class="form-control" id="preference4" name="preference4">
      <option value=""></option>
      <%branches.forEach(function(branch){%>
      <option value ="<%=branch._id%>"><%=branch.BranchName%></option>
     <%})%>
    </select>
  </div>              
        
     <div class="form-group">
    <label for="preference5">Preference 5</label>
    <select class="form-control" id="preference5" name="preference5">
      <option value=""></option>
      <%branches.forEach(function(branch){%>
      <option value ="<%=branch._id%>"><%=branch.BranchName%></option>
     <%})%>
    </select>
  </div>             
    
  </div>
      <div class="col col-xl-6 col-lg-6 col-md-9 col-sm-9 col-xs-12">          
              
  <div class="form-group">
    <label for="preference6">Preference 6</label>
    <select class="form-control" id="preference6" name="preference6">
      <option value=""></option>
      <%branches.forEach(function(branch){%>
      <option value ="<%=branch._id%>"><%=branch.BranchName%></option>
     <%})%>
    </select>
  </div>
   
   <div class="form-group">
    <label for="preference7">Preference 7</label>
    <select class="form-control" id="preference7" name="preference7">
      <option value=""></option>
      <%branches.forEach(function(branch){%>
      <option value ="<%=branch._id%>"><%=branch.BranchName%></option>
     <%})%>
    </select>
  </div>  
              
              
     <div class="form-group">
    <label for="preference8">Preference 8</label>
    <select class="form-control" id="preference8" name="preference8">
      <option value=""></option>
      <%branches.forEach(function(branch){%>
      <option value ="<%=branch._id%>"><%=branch.BranchName%></option>
     <%})%>
    </select>
  </div>             
              
  
    <div class="form-group">
    <label for="preference9">Preference 9</label>
    <select class="form-control" id="preference9" name="preference9">
      <option value=""></option>
      <%branches.forEach(function(branch){%>
      <option value ="<%=branch._id%>"><%=branch.BranchName%></option>
     <%})%>
    </select>
  </div>              
        
     <div class="form-group">
    <label for="preference10">Preference 10</label>
    <select class="form-control" id="preference10" name="preference10">
      <option value=""></option>
      <%branches.forEach(function(branch){%>
      <option value ="<%=branch._id%>"><%=branch.BranchName%></option>
     <%})%>
    </select>
  </div>             
    
  </div>
             
              
               
              
 
    
    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit The Apply Form</button>
              
</form>
            
            
          </div>
          
      
        </div>
    
    
  </body>
  
</html>

 




