<html>
  <title>PPST</title>
  <head>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Nunito:900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
   
  </head>
  
  <body>


    
    <div class="row">
      
      <div class="col col-xl-3 col-lg-2 col-md-3 col-sm-3 col-xs-12" style="background-color:white;                                                                    position: fixed;
                                                                            text-align:center;
                                                                            font-family: 'Cabin', sans-serif;
                                                                            border-right:solid 1px #ccc
                                                                            ">
        <div class="col col-xl-12 col-lg-12 col-md-3 col-sm-3 col-xs-12" style=";background-color:#2d2d2d;width:107%">
          <h2 style="color: white"><strong>PPTS</strong></h2>
          <p style="font-weight: lighter;font-size: 14px;color: #ccc">पालघर पोलीस  ट्रान्सफर सिस्टिम </p>
        </div>



  <div style="height:700px;background-color:white ;width: 106%">
       <ul class="list-group">
      <a class="btn btn-primary  btn-lg" href="/regionwiseRequests">back</a>
</ul>
   </div>
  

       
       



</div>
     
        
      
        <div class="col col-xl-9 col-lg-10 col-md-9 col-sm-9 col-xs-12" style="background-color:;
                                                                            height:1200px;
                                                                            float:right;
                                                                            font-family: 'Cabin', sans-serif;
                                                                           ">
         
       
      <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: rgba(0,0,0,0.1);height: 100%">


<div style="box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
width:800px;margin: 0 auto;background-color: white;height:700px
">
  <img src="<%=user.profileImage%>" style="height:250px;width:250px;float: left;border-right:solid 1px #ccc;">
  <p style="font-size: 40px;font-family: 'Cabin', sans-serif;"><strong><%=user.fullName%></strong><br>
<span style="color:rgba(0,0,0,0.5);font-size:20px">Branch : </span><span style="font-size:20px"><%=user.currentBranch.BranchName%></span><br>

<span style="color:rgba(0,0,0,0.5);font-size: 20px">Requested on : 
</span><span style="font-size:20px"><%=user.requestSubmittedOn.toDateString()%></span><br><br>


<div style="margin-top: 100px;margin-left: 20px;margin-right: 20px">
  <p style="background-color:#2d2d2d;padding: 3px;"> 
  <span style="color:white">Preference : </span> 
  <span style="color: white">Requested Branch :</span>  
  </p>
  <%requests.forEach(function(request){%>
<p style="background-color:white;padding: 3px;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);"> 
  <span style="background-color:#2d2d2d;text-align: center;color: white;padding:5px 35px 5px 35px">
   <%=request.preference%></span> 
  
  <%=request.requestedBranch.BranchName%>

  <span > <form action="/acceptRequest/<%=request._id%>" method="POST" >
              <button type="submit" class="btn btn-success btn-sm" style="margin-top: -40px;float: right;">Approve Request</button>
              </form></span>
</p>


  


<%})%>

</div>


     
</div>


</div>


 
   
        
 
<% include ./partials/footer %>

 </body>
  
</html>
 
<style>
  html, body {
    max-width: 100%;
    overflow-x: hidden;
}
</style>






