<% include ./partials/header %>

      
        <div class="col col-xl-9 col-lg-10 col-md-9 col-sm-9 col-xs-12" style="background-color:;
                                                                            height:1200px;
                                                                            float:right;
                                                                            font-family: 'Cabin', sans-serif;
                                                                          ">

          <h1><strong>Your request status</strong></h1> <br>
          
       <%if(currentUser.requestInProcess == false){%>
         <div class="col col-lg-12">
           <div class="alert alert-danger" style="font-size: 30px;">
      You have no request to process<i class="fa fa-exclamation"></i>
      
    </div> 
      </div>
      <%}%>


<%if(currentUser.requestInProcess == true && currentUser.requestStatus.requestAccepted == false){%>


        <div class="container">
          <div class="progress"style="height:2px;margin-right:50px;border-radius:0px" >
  <div class="progress-bar progress-bar-success " role="progressbar"
  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%;">
    

  </div>
</div> 
   


  <div class="col col-lg-12" style="text-align:center;margin-top:-35px">
    
    <span style="float:left;font-size:30px;color:#5CB85C;margin-left:-30px"><i class="fa fa-circle"></i></span>
     <span style="font-size:30px;color:#5CB85C;margin-left:-30px"><i class="fa fa-circle"></i></span>
     <span style="float:right;font-size:30px;margin-left:-30px"><i class="fa fa-circle"></i>  </span>
          </div>          
          
  <div class="col col-lg-12" style="text-align:center">
    
    <span style="float:left;font-size:16px"> <strong>Request Initiated <br>
      <span style="color: grey">(<%=currentUser.requestSubmittedOn.toDateString()%>)</span></strong></span>
     <span style="font-size:16px"><strong>Request sent successfully</strong></span>
     <span style="float:right;font-size:16px"><strong >Request approved</strong>  </span>
          </div>        
          
        </div>
      
     <div class="col col-lg-3">

       <div class="alert alert-success" role="alert" style="margin-top:10px">
     <table class="table" style="font-size: 12px">
    <thead>
      <tr>
        <th>Preference</th>
        <th>Branch</th>   
      </tr>
    </thead>
    <tbody>
      <%requests.forEach(function(request){%>
      <tr>
        <td><%=request.preference%></td>
        <td><%=request.requestedBranch.BranchName%></td>
      </tr>  
       <% })%>    
    </tbody>
  </table>
         
</div>      

      

      </div>
      <div class="col col-lg-12">
           <div class="alert alert-danger" style="background-color: red;color: white">
      Your request is still in process <i class="fa fa-exclamation"></i>
      
    </div> 
      </div>

      <%}%>


<%if(currentUser.requestInProcess == true && currentUser.requestStatus.requestAccepted == true){%>


        <div class="container">
          <div class="progress"style="height:2px;margin-right:50px;border-radius:0px" >
  <div class="progress-bar progress-bar-success " role="progressbar"
  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:100%;">
    

  </div>
</div> 
   


  <div class="col col-lg-12" style="text-align:center;margin-top:-35px">
    
    <span style="float:left;font-size:30px;color:#5CB85C;margin-left:-30px"><i class="fa fa-circle"></i></span>
     <span style="font-size:30px;color:#5CB85C;margin-left:-30px"><i class="fa fa-circle"></i></span>
     <span style="float:right;color:#5CB85C;font-size:30px;margin-left:-30px"><i class="fa fa-circle"></i>  </span>
          </div>          
          
  <div class="col col-lg-12" style="text-align:center">
    
    <span style="float:left;font-size:16px"> <strong>Request Initiated <br><span style="color: grey">(<%=currentUser.requestSubmittedOn.toDateString()%>)</span></strong></span>
     <span style="font-size:16px"><strong>Request sent successfully</strong></span>
     <span style="float:right;font-size:16px"><strong >Request approved successfully</strong>  </span>
          </div>        
          
        </div>
      
     <div class="col col-lg-3">

       <div class="alert alert-success" role="alert" style="margin-top:10px">
     <table class="table" style="font-size: 12px">
    <thead>
      <tr>
        <th>Preference</th>
        <th>Branch</th>   
      </tr>
    </thead>
    <tbody>
      <%requests.forEach(function(request){%>
      <tr>
        <td><%=request.preference%></td>
        <td><%=request.requestedBranch.BranchName%></td>
      </tr>  
       <% })%>    
    </tbody>
  </table>
         
</div>      

      

      </div>

  <div class="col col-lg-9">

       <div class="alert alert-success" role="alert" style="margin-top:10px">
  <p style="font-size: 40px">Your Request is successfully approved on 
    <span style="color:white;background-color:green;font-size:30px;padding: 10px"><%=currentUser.requestStatus.requestAcceptedOn.toDateString()%></span><br>
    for branch <span style="color:white;background-color:black;font-size:30px;padding: 10px"><%=currentUser.requestStatus.requestAcceptedBranchName%></span>
  </p>
         
</div>      

      

      </div>


      <div class="col col-lg-12">
           <div class="alert alert-danger" style="background-color: green;color: white">
      Your request is approved for <strong><%=currentUser.requestStatus.requestAcceptedBranchName%></strong>
      
    </div> 
      </div>

      <%}%>





</div>

 
      
    </div>
    
    
  </body>
  
</html>

 




